h2{
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: white;
    border-radius: 0.5em;
    width: 300px;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

h2:nth-of-type(2n){
    background-color: #e9c46a;
}
h2:nth-of-type(3n){
    background-color: #f4a261;
}
h2:nth-of-type(4n){
    background-color: #e76f52;
}
section:first-of-type h2:nth-of-type(1){
    transform: rotate(180deg);
}
section:first-of-type h2:nth-of-type(2){
    transform: scale(0.6);
}
section:first-of-type h2:nth-of-type(3){
    transform: translateX(200px);
}
section:first-of-type h2:nth-of-type(4){
    transform: translate(-200px, 50px);
}
section:nth-of-type(2) h2:nth-of-type(1){
    transform: skew(30deg);
}
section:nth-of-type(2) h2:nth-of-type(2){
    transform: skew(10deg, 5deg);
}
section:nth-of-type(2) h2:nth-of-type(3){
    transform: rotate(-30deg) scale(1.25);
}
section:nth-of-type(2) h2:nth-of-type(4){
    transform: translateX(-300px) rotate(0.5turn) scaleY(2);
}
section:nth-of-type(2){
    transform: scale(0.75) translateX(250px);
}