div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle{
    background-color: #81b29a;
}

#static #middle{
    position: static;
    top: 100px;
}

#relative #middle{
    position: relative;
    top: 25px;
    left: 25px;
}

#absolute{
    position: relative;
}

#absolute #middle{
    position: absolute;
    top: 25px;
    left: 25px;
}

#fixed #middle{
    position: fixed;
    top: 0;
    left: 200px;
}