body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
#container{
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container div{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}
h2{
    text-align: center;
}
main{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
}
main .sidebar{
    background-color: #6930c3;
    border: 2px solid azure;
    flex: 1 2 300px;
}
main .maincontent{
    background-color: #80ffdb;
    flex: 2 1 800px;
}