<div class="card">
    <div class="card-header">
        -*-*-*-*-*-
    </div>
    <div class="card-body">
        <h5 class="card-title">EJS Demo</h5>
        <p class="card-text">:P</p>
        <a href="/" class="btn btn-primary">TATAKAE</a>
    </div>
</div>

</body >

</html >